#r {
    color: #151719;
    background-color: whitesmoke;
    display: flex;
    margin-bottom: 20vh;
    padding: 20px;
  }
  
  .leftpart {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .left1 {
    width: 220px;
    padding: 2%;
    margin-left: 10%;
    margin-bottom: 3%;
    margin-top: 20%;
    border-radius: 1rem;
    border: 2px solid #fcb01d;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* Active State Styling */
  .left1.active {
    background-color: #fcb01d;
    color: white;
  }
  
  /* Hover State Styling */
  .left1:hover {
    background-color: white;
    color: #fcb01d;
  }
  
  /* Right part layout */
  .rightpart {
    flex: 0.7;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  /* Mobile responsiveness */
  @media screen and (max-width: 780px) {
    #r {
      flex-direction: column;
    }
    .leftpart {
      height: 40vh;
    }
    .rightpart {
      height: 60vh;
    }
  }
  