.about{
    display: flex;
    height: 80vh;
    position: relative;
}
.left{
    flex: 0.5;
display: flex;
flex-direction: column;
}
.left .text{
/* border: 2px solid black; */
padding-top: 6%;
}
.left .text a{
    text-decoration: none;
}
.left .text h1{
padding-left: 20%;
font-size: larger;
font-weight: bolder;
}
.left .text p {
    padding-left: 5%;
    font-size: smaller;
}
.left .button{
    width: fit-content;
    margin-top: 5%;
    margin-left: 35px;
}
.RIGHTT{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex: 0.5;
position: relative;
}

.w-mainCircle {
     left: 5%; 
    right: 5%;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: white; 

}
.w-mainCircle {
    position: relative;
} 
 .w-secCircle img{
    width: 30%;
}
.w-mainCircle > :nth-child(1){
    left: 7rem;
    top: -1rem;
    position: absolute;
}
.w-mainCircle > :nth-child(2){
    left: 0.4rem; 
    top: 3rem;
    position: absolute;
}
 .w-mainCircle > :nth-child(3){
    left: -1rem; 
    top: 9rem;
    position: absolute;
    width: 65%;
}  
 .w-mainCircle > :nth-child(4){
    left: 7rem; 
    top: 16rem;
    position: absolute;
}
 .w-mainCircle > :nth-child(5){
    left: 15rem;
   top:3rem;
    position: absolute;
    width: 70%;
} 
.w-mainCircle > :nth-child(6){
    left: 16rem;
   top:9rem;
    position: absolute;
    width: 70%;
} 
.w-mainCircle > :nth-child(7){
    left: 5rem; 
    top: 7rem;
    position: absolute;
    width: 140%;
} 
.w-backCircle{
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;
}
.blueCircle{
    background: #194988;
    left: 11rem;
    top: 2rem;
}
.yellowCircle{
    background: #F5C32C;
    left: 11rem;
    top: 8rem;
}
@media screen and (max-width : 1105px) {
    .about{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .left{
        height: 50vh;
    }
    .RIGHTT{
        height: 49vh;
    }
    .w-backCircle{
        left: 8rem!important;
        height: 8rem;
        width: 8rem;
      }
      .w-mainCircle {
      
         width: 12rem;
         height: 12rem;
         border-radius: 100%;
         box-shadow: var(--smboxShadow);
         background: white; 
     }
     .w-mainCircle > :nth-child(1){
      left: 5rem;
      /* top: -1rem; */
      position: absolute;
  }
  .w-mainCircle > :nth-child(2){
      left: 0.1rem; 
      top: 1.1rem;
      position: absolute;
      width: 70%;
  
  }
   .w-mainCircle > :nth-child(3){
      left: 0.2rem; 
      top: 8rem;
      position: absolute;
      width: 65%;
  }  
   .w-mainCircle > :nth-child(4){
      left: 5rem; 
      top: 11rem;
      position: absolute;
  }
   .w-mainCircle > :nth-child(5){
      left: 10rem;
     top:2rem;
      position: absolute;
      width: 70%;
  } 
  .w-mainCircle > :nth-child(6){
      left: 9rem;
     top:9rem;
      position: absolute;
      width: 70%;
  } 
  .w-mainCircle > :nth-child(7){
      left: 4rem; 
      top: 4.8rem;
      position: absolute;
      width: 140%;
  } 
}

@media screen and (max-width: 600px) {
    .works {
      flex-direction: column;
      height: 55rem;
      padding: 0;
      gap: 5rem;
    }
  
    .w-right {
      display: flex;
      align-items: flex-start;
      justify-content:start;
      transform: scale(0.7);
    }
    /* .w-mainCircle{
      position: static;
    } */
    .w-backCircle{
      left: 8rem!important;
      height: 8rem;
      width: 8rem;
    }
    .w-mainCircle {
    
       width: 12rem;
       height: 12rem;
       border-radius: 100%;
       box-shadow: var(--smboxShadow);
       background: white; 
   }
   .w-mainCircle > :nth-child(1){
    left: 5rem;
    /* top: -1rem; */
    position: absolute;
}
.w-mainCircle > :nth-child(2){
    left: 0.1rem; 
    top: 1.1rem;
    position: absolute;
    width: 70%;

}
 .w-mainCircle > :nth-child(3){
    left: 0.2rem; 
    top: 8rem;
    position: absolute;
    width: 65%;
}  
 .w-mainCircle > :nth-child(4){
    left: 5rem; 
    top: 11rem;
    position: absolute;
}
 .w-mainCircle > :nth-child(5){
    left: 10rem;
   top:2rem;
    position: absolute;
    width: 70%;
} 
.w-mainCircle > :nth-child(6){
    left: 9rem;
   top:9rem;
    position: absolute;
    width: 70%;
} 
.w-mainCircle > :nth-child(7){
    left: 4rem; 
    top: 4.8rem;
    position: absolute;
    width: 140%;
} 
  }

 